<h2 class="ml-2">Edit Information</h2>
<form class="mx-2 form-horizontal" action="/edit/<%= movie._id %>" method="post">
    <label class="control-label">Title</label>
    <input class="form-control" type="text" class="form-control" name="title" value="<%= movie.title %>" />
    <label class="control-label">Description</label>
    <input class="form-control" type="text" class="form-control" name="description" value="<%= movie.description %>" />
    <label class="control-label">Genres</label><br>
    <% let movieGenres = movie.genres.map(el => el.name) %>
      <% genres.forEach(genre => { %>
        <input type="checkbox" name="genres" <%= movieGenres.includes(genre.name) ? "checked" : "" %> value="<%= genre.id %>"><%= genre.name %><br>
        <% }) %>
    <label class="control-label">Director</label>
    <div><%= movie.director.name %></div>
    <select class="mb-2" name="director">
      <option value="">Select</option>
      <% directors.forEach(director => { %>
          <option <%= movie.director.name == director.name ? "selected" : "" %> value="<%= director._id %>"><%= director.name %></option>
      <% }) %>
    </select>
    <label class="control-label">Actors</label>
    <% let movieActors = movie.actors.map(el => el.name) %>
      <% actors.forEach(actor => { %>
        <input type="checkbox" name="actors" <%= movieActors.includes(actor.name) ? "checked" : "" %> value="<%= actor.id %>"><%= actor.name %><br>
        <% }) %>
    <label class="control-label">Image</label>
    <input class="form-control" type="text" class="form-control" name="imagePath" value="<%= movie.imagePath %>" />
    <label class="control-label">Featured</label>
    <input class="form-control" type="text" class="form-control" name="featured" value="<%= movie.featured %>" />
    <button class="mt-2 btn btn-primary" type="submit">Save Changes</button>
  </form>